CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6TETRA=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6tetra/mx6q_4x_mt41j256_tetra.cfg,MX6Q,SYS_BOOT_SPINOR"
CONFIG_CMD_GPIO=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y
