CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6ZEBRA=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/versalogic/mx6zebra/mx6solo_2x_mt41j128_zebra.cfg,MX6DL,SYS_BOOT_SPINOR"
CONFIG_CMD_GPIO=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y
